@charset 'utf-8';

// Import Google Web font
@import url('https://fonts.googleapis.com/css?family=Karla:400,700,400italic,700italic');

@import 'settings';
@import 'foundation';
@import 'motion-ui';

@include foundation-global-styles;
@include foundation-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
@include foundation-visibility-classes;
@include foundation-float-classes;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-close-button;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-flex-video;
@include foundation-label;
@include foundation-media-object;
@include foundation-menu;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;

@include motion-ui-transitions;
@include motion-ui-animations;

// Overrides

.jumbotron {
	padding: 6rem 0;
	background: #efefef url('../etc/jumbo-bg.jpg') center center no-repeat;
	background-size: cover;
	h1 {
		margin-bottom: 2rem;
	}
	.top-bar {
		margin-bottom: 3rem;
	}
	.button {
		margin-top: 3rem;
		margin-right: 0;
	}
	&.white {
		h1,
		h2,
		h3,
		h4,
		h5,
		p,
		a {
			color: $white;
		}
		.subheader {
			color: #cccccc;
		}
		.top-bar, .top-bar ul {
			background: transparent;
			li {
				> a {
					color: rgba($white, 0.35);
					text-transform: uppercase;
					&:hover {
						color: $white;
						text-decoration: underline;
					}
				}
			}
		}
	}
}

.button {
	text-transform: uppercase;
	&.hollow {
		&.white {
			color: $white;
			border: 1px solid $white;
		}
	}
}

.top-bar, .top-bar ul {
	background: transparent;
	li {
		> a {
			color: $medium-gray;
			text-transform: uppercase;
			&:hover {
				color: $body-font-color;
				text-decoration: underline;
			}
		}
	}
}

.top-bar-center {
	display: block;
	text-align: center;
	> .menu {
		display: inline-block;
	}
}

.docs-page-title {
	margin-bottom: 2rem;
}

.warning {
	background-color: $warning-color;
}

section {
	padding: 2rem 0;
	&.primary-bg {
		background-color: $primary-color;
		h1,
		h2,
		h3,
		h4,
		h5 {
			color: $white;
		}
		p {
			color: $white;
		}
		.button {
			margin: 0;
		}
	}
	&.bordered {
		border-top: 1px solid $light-gray;
		border-bottom: 1px solid $light-gray;
	}
}

header {
	&.bottom-bordered {
		border-bottom: solid 1px $light-gray;
	}
}

ul {
	margin-bottom: 3rem;
	li {
		margin: 1rem 0;
	}
}

p {
	margin-bottom: 2rem;
}

.callout {
	margin: 0 0 2rem 0;
}